automation/n8n-salesradar-lead-webhook.template.json
{
  "name": "CallControl AI - Demo Lead to Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "callcontrol-demo-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "lead-webhook",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "callcontrol-demo-lead"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst lines = [\n  '🚀 Новая заявка: CallControl AI Mini-Audit',\n  '',\n  `👤 Имя: ${body.name || '-'}`,\n  `🎯 Роль: ${body.role || '-'}`,\n  `📱 Контакт: ${body.contact || '-'}`,\n  `🏢 Компания: ${body.company || '-'}`,\n  `🌐 Сайт: ${body.site || '-'}`,\n  `👥 Отдел: ${body.team || '-'}`,\n  `❓ Боль: ${body.pain || '-'}`,\n  `🎧 Данные: ${body.data || '-'}`,\n  '',\n  'Статус: 01. NEW'\n];\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "format-message",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "YOUR_CHAT_ID"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "disable_web_page_preview",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
